/* Home.css */

.container {
  background-color: c9def4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh; 
  padding: 20px; 
}

.form-heading-cont {
  margin-bottom: 20px;
}

.form-heading {
  font-size: 2rem;
  font-weight: bold;
  color: white; 
}

.button-add {
  background-color: darkorange;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.button-add:hover {
  background-color: #e07b3c; 
}

.mobile-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 

  
}
